header{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

    & .user{
        display: flex;
        gap: 0 2rem;
        align-items: center;
    }

    & h3{
        cursor: pointer;
    }

    & .user-logo{
        font-size: 2rem;
    }
    & .create-logo{
        font-size: 1.6rem;
        cursor: pointer;
    }
}