.post-container-heading{
    margin: 2rem;
}

.user-posts{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.user-post{
    border: 2px solid black;
    padding: .5rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-user{
        width: 100%;
        text-align: center;
        border-bottom: 2px solid black;
    }

    &-data{
        overflow: auto;
        height: 100px;
    }
}